 
CREATE TABLE [dbo].[data_vcm_report_tbl](
	[state1] [varchar](300) NULL,
	district	varchar(300),
	[year1] [varchar](300) NULL,
	[response_time] [numeric](28, 2) NULL,
	[repair_time] [numeric](28, 2) NULL,
	[schedule_maintenance] [numeric](28, 2) NULL,
	 
	[created_by] [varchar](100) NULL,
	[created_date] [datetime] NULL,
	[modified_by] [varchar](100) NULL,
	[modified_date] [datetime] NULL,
	[quarter1] [varchar](10) NULL,
	[clinic_category] [varchar](100) NULL
) 

 